## Deliverable 3. Create a Travel Itinerary Map.

In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np 
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,9,Vaini,TO,77.00,moderate rain,-21.2000,-175.2000,Keleti Beach Resort
1,12,Rikitea,PF,77.27,overcast clouds,-23.1203,-134.9692,Pension Maro'i
2,16,Kununurra,AU,78.80,scattered clouds,-15.7667,128.7333,Hotel Kununurra
3,21,Gigmoto,PH,78.87,overcast clouds,13.7796,124.3900,Cj's Travellers Inn
4,24,Sarangani,PH,81.79,overcast clouds,5.4033,125.4636,Ballistic Islet

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description} and {Max Temp}°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Chimbote']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Chimbote']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Huarmey']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Lima'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Pisco']

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
40,154,Lima,PE,75.99,broken clouds,-12.0432,-77.0282,Gran Hotel Bolivar Lima

In [91]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()
start_end = [start,end]
start_end

[array([[ -9.0853, -78.5783]]), array([[ -9.0853, -78.5783]])]

In [89]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# Latitude-longitude pairs
start_end = [start,end]
waypoints=[stop1 , stop2 , stop3]

fig = gmaps.figure()
directions = gmaps.directions_layer(
        start, end, waypoints = waypoints,
        travel_mode='BICYCLING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end, vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,172,Chimbote,PE,77.94,broken clouds,-9.0853,-78.5783,Hotel Briliá
1,172,Chimbote,PE,77.94,broken clouds,-9.0853,-78.5783,Hotel Briliá
2,149,Huarmey,PE,76.71,broken clouds,-10.0681,-78.1522,Hotel Miramar
3,154,Lima,PE,75.99,broken clouds,-12.0432,-77.0282,Gran Hotel Bolivar Lima
4,393,Pisco,PE,75.99,broken clouds,-13.7000,-76.2167,Hotel San Isidro Oficial

In [61]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [62]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))